* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

@font-face {
	font-family: opensans-bold;
	src: url(../fonts/OpenSans-Bold.woff);
	font-style: normal;
}
  
@font-face {
	font-family: opensans-regular;
	src: url(../fonts/OpenSans-Regular.woff);
	font-style: normal;
}

  				/*HEADER*/
  
.header {
	background-image: url(../images/banner-mobile.jpg);
	background-size: cover;
	  position: relative;
}

.header::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0px;
	left: 0;
	opacity: 0.6;
	background-color: black;
}

.wrapper {
	width: 320px;
	margin: auto;
	position: relative;
	z-index: 1;
	padding-top: 32px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.button_burger {
	justify-content: flex-end;
	margin-right: 0px;
	margin-left: auto;
}

.burger_line {
	width: 20px;
	height: 3px;
	background-color: #ffffff;
}

.burger_line:nth-child(n+2) {
	margin-top: 5px;
}

.logo-box {
	margin-top: 174px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.title {
	font-family: opensans-bold;
	font-size: 26px;
	text-transform: uppercase;
	color: #ffffff;
	margin: 42px auto 0;
	text-align: center;
	padding-bottom: 220px;
}


  			/*main content*/

.trends {
	padding-top: 45px;
}

.title_section {
	font-family: opensans-bold;
	font-size: 16px;
	text-transform: uppercase;
	color: #0f0d0e;
	text-align: center;
	padding-bottom: 25px;
}

.title_section::after {
	content: "";
	display: block;
	width: 65px;
	height: 3px;
	background-color: #e1d9bd;
	margin: 9px auto 0px;
}

.article_trend:nth-child(n+2) {
	margin-top: 3px;
}

.trend_1 {
	background-image: url(../images/trend1.jpg);
}

.trend_2 {
	background-image: url(../images/trend2.jpg);
}

.trend_3 {
	background-image: url(../images/trend3.jpg);
}

.trend_4 {
	background-image: url(../images/trend4.jpg);
}

.article_trend {
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 88px;
	padding-bottom: 15px;
	position: relative;
}

.article_trend::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0px;
	left: 0;
	opacity: 0.6;
	background-color: black;
}

.category {
	display: flex;
}

.category_items {
	list-style: none;
}

.category_items:nth-child(n+2) {
	margin-left: 18px;
  }

.category_link {
	font-size: 14px;
	font-family: opensans-bold;
	color: #b59f5b;
	text-decoration: none;
	text-transform: uppercase;
}

.title_trends {
	font-size: 16px;
	font-family: opensans-bold;
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 13px;
	margin-bottom: 28px;
}

.article_trend_info {
	border: 3px solid #8d8057;
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
	z-index: 1;
	padding-top: 33px;
}

.news_content {
	margin: 44px 15px 0 15px;
}

.news:nth-child(n+2) {
	margin-top: 33px;
}

.news::after {
	content: "";
	display: block;
	height: 3px;
	background-color: #eeeeee;
	margin: 20px auto 0px;
}

.news_image {
	width: 100%;
}

.news_info {
	margin-top: 15px;
}

.news_title {
	margin-top: 16px;
	font-family: opensans-bold;
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
}

.date_author {
	margin-top: 26px;
}

.date {
	font-family: opensans-regular;
	color: #888888;
	font-size: 12px;
}

.author {
	margin-left: 15px;
	text-decoration: none;
	font-family: opensans-bold;
	color: #000000;
	font-size: 12px;
}

.news_text {
	margin-top: 25px;
	font-family: opensans-regular;
	color: #0f0d0e;
	font-size: 14px;
}

.news_text p:nth-child(n+2) {
	margin-top: 15px;
}

.new_posts {
	margin: 44px 15px 0 15px;
}

.new_posts_title {
	font-family: opensans-bold;
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 28px;
}

.new_posts_title::after {
	content: "";
	display: block;
	width: 65px;
	height: 3px;
	background-color: #e1d9bd;
	margin: 9px auto 0px;
}

.new_post {
	display: flex;
}

.new_post:nth-child(n+2) {
	margin-top: 22px;
}

.new_post_info {
	margin-left: 19px;
}

.new_post_image {
	display: block;
}

.new_post_title {
	margin-top: 9px;
	font-family: opensans-bold;
	font-size: 14px;
	text-transform: uppercase;
}

.new_post_link {
	text-decoration: none;
	list-style: none;
	color: #000000;
}

.search_box {
	margin: 60px 15px 0 15px;
	display: flex;
}

.search_label {
	width: calc(100% - 48px);
}

.search_input {
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	background-color: #f4f7f6;
	padding: 6px 20px;
	border: 0px;
}

.search_input:focus {
	outline: none;
}

.search_button {
	box-sizing: border-box;
	width: 48px;
	height: 48px;
	background-color: #b59f5b;
	border: 0px;
	padding: 0px;
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.search_button:hover {
	background: #e1d9bd;
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: center;
}

.visually_hidden {
	 position: absolute;
	 width: 1px;
	 height: 1px;
	 clip: rect(1px, 1px, 1px, 1px);
}

.distribution {
	margin: 44px 15px 0 15px;
}

.distribution_title {
	font-family: opensans-bold;
	color: #0f0d0e;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 28px;
}

.distribution_title::after {
	content: "";
	display: block;
	width: 65px;
	height: 3px;
	background-color: #e1d9bd;
	margin: 9px auto 0;
}

.distribution_form {
	display: flex;
	flex-direction: column;
}

.distribution_input {
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	background-color: #f4f7f6;
	padding: 6px 17px;
}

.distribution_input:focus {
	outline: none;
  }

.distribution_button {
	margin-top: 17px;
	height: 48px;
	background-color: #b59f5b;
	font-family: opensans-bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
}

.distribution_button:hover {
	background: #e1d9bd;
  }

.sections {
	margin: 45px 15px 0 15px;
}

.section_title {
	font-size: 14px;
	font-family: opensans-bold;
	text-align: center;
	color: #0f0d0e;
	text-transform: uppercase;
	margin-bottom: 24px;
}
  
.section_title::after {
	content: "";
	display: block;
	width: 66px;
	height: 3px;
	background-color: #e1d9bd;
	margin: 14px auto 0;
}

.sections_containers {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.sections_container {
	box-sizing: border-box;
	border: 3px solid #eeeeee;
	margin-right: 5px;
	margin-bottom: 6px;
	list-style: none;
}

.sections_container:hover {
	background: #e1d9bd;
}

.sections_container_link {
  display: block;
  font-size: 12px;
  font-family: opensans-bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
  text-align: center;
  padding: 7px 12px;
}