* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

@font-face {
	font-family: opensans-bold;
	src: url(../fonts/OpenSans-Bold.woff);
	font-style: normal;
}
  
@font-face {
	font-family: opensans-regular;
	src: url(../fonts/OpenSans-Regular.woff);
	font-style: normal;
}

body {
	min-width: 320px;
}



  				/*HEADER*/
  


.header {
	background-size: cover;
	position: relative;
	width: 100%;
}

.header::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0px;
	left: 0;
	opacity: 0.6;
	background-color: black;
}

.wrapper {
	position: relative;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

@media (max-width:640px) {
	.header {
		background-image: url(../images/banner-mobile.jpg);
		padding-bottom: 220px;
	}
	.wrapper {
		padding-top: 32px;
		margin-left: 15px;
		margin-right: 15px;
	}
	.header_box {
		display: flex;
		flex-direction: column-reverse;
	}
	.logo-box {
		margin-top: 174px;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}
	.logo_image {
		width: 269px;
	}
	.header_navigations {
		display: none;
	}
	.title {
		margin: 42px auto 0;
		font-size: 26px;
	}
}

@media (min-width:641px) and (max-width:1199px) {
	.header {
		padding-bottom: 125px;
		background-image: url(../images/banner-bg-tablet.jpg);
	}
	.wrapper {
		padding-top: 42px;
		margin-left: 35px;
		margin-right: 35px;
	}
	.header_box {
		display: flex;
	}
	.logo_image {
		width: 160px;
	}
	.button_burger {
		margin-top: 11px;
	}
	.header_navigations {
		display: none;
	}
	.title {
		margin: 105px auto 0;
		font-size: 40px;
	}
}

@media (min-width:1200px) {
	.header {
		background-image: url(../images/banner-bg.jpg);
	}
	.wrapper {
		padding: 28px 15px 0;
		width: 1200px;
		margin: auto;
		box-sizing: border-box;
	}
	.header_box {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logo_image {
		width: 180px;
	}
	.button_burger {
		display: none;
	}
	.title {
		max-width: 800px;
		font-size: 45px;
		margin: auto;
		padding: 127px 0 147px;
	}
}

.button_burger {
	justify-content: flex-end;
	margin-right: 0px;
	margin-left: auto;
}

.burger_line {
	width: 20px;
	height: 3px;
	background-color: #ffffff;
}

.burger_line:nth-child(n+2) {
	margin-top: 5px;
}

.header_navigations_items {
	display: flex;
	list-style: none;
}

.header_navigations_item:nth-child(n+2) {
	margin-left: 35px;
}

.header_navigations_link {
	font-size: 13px;
	font-family: opensans-regular;
	color: #f4f7f6;
	text-decoration: none;
	text-transform: uppercase;
}

.title {
	font-family: opensans-bold;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
}



  			/*trends*/



@media (max-width:640px) {
	.trends {
		margin-top: 45px;
	}
	.title_section {
		font-size: 16px;
		padding-bottom: 25px;
	}
	.title_section::after {
		margin: 9px auto 0px;
	}
	.article_trend {
		min-height: 230px;
	}
	.article_trend_info {
		padding: 34px 20px 28px
	}
	.title_trends {
		font-size: 16px;
	}
}

@media (min-width:641px) and (max-width:1199px) {
	.trends {
		margin-top: 50px;
	}
	.title_section {
		font-size: 18px;
		padding-bottom: 19px;
	}
	.title_section::after {
		margin: 11px auto 0px;
	}
	.article_trend {
		min-height: 247px;
	}
	.article_trend_info {
		padding: 36px 30px 30px;
	}
	.title_trends {
		font-size: 17px;
	}
}

@media (min-width: 1200px) {
	.trends {
		margin-top: 64px;
	}
	.title_section {
		font-size: 20px;
		padding-bottom: 28px;
	}
	.title_section::after {
		margin: 14px auto 0px;
	}
	.article_trend {
		min-height: 320px;
	}
	.article_trend_info {
		padding: 40px 35px 30px;
	}
	.title_trends {
		font-size: 20px;
	}
}

.title_section {
	font-family: opensans-bold;
	text-transform: uppercase;
	color: #0f0d0e;
	text-align: center;
}

.title_section::after {
	content: "";
	display: block;
	width: 65px;
	height: 3px;
	background-color: #e1d9bd;
}

.article_trend_container {
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 640px) and (orientation: portrait) {
	.article_trend {
		width: 100%;
	}
	.article_trend:nth-child(n+2) {
		margin-top: 3px;
	}
}

@media (max-width: 640px) and (orientation: landscape), (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
	.article_trend {
		width: calc((100% - 4px)/2);
		box-sizing: border-box;
	}
	.article_trend:nth-child(even) {
		margin-left: 4px;
	}
	.article_trend:nth-child(n+3) {
		margin-top: 3px;
	}
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape), (min-width: 1200px) {
	.article_trend {
		width: calc((100% - 12px)/4);
		box-sizing: border-box;
	}
	.article_trend:nth-child(n+2) {
		margin-left: 4px;
	}
}

.trend_1 {
	background-image: url(../images/trend1.jpg);
}

.trend_2 {
	background-image: url(../images/trend2.jpg);
}

.trend_3 {
	background-image: url(../images/trend3.jpg);
}

.trend_4 {
	background-image: url(../images/trend4.jpg);
}

.article_trend {
	background-size: cover;
	background-repeat: no-repeat;
	padding: 15px;
	position: relative;
	display: flex;
	align-items: flex-end;
}

.article_trend::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0px;
	left: 0;
	opacity: 0.6;
	background-color: black;
}

.article_trend_category {
	display: flex;
}

.category_items {
	list-style: none;
}

.category_items:nth-child(n+2) {
	margin-left: 20px;
}

.category_link {
	font-size: 14px;
	font-family: opensans-bold;
	color: #b59f5b;
	text-decoration: none;
	text-transform: uppercase;
}

.title_trends {
	font-family: opensans-bold;
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 15px;
}

.article_trend_info {
	width: 100%;
	border: 3px solid #8d8057;
	position: relative;
	z-index: 1;
}



				/*main content*/



@media (max-width:640px) {
	.main_content {
		margin: 44px 15px 0 15px;
	}	
	.news:nth-child(n+2) {
		margin-top: 33px;
	}
	.news_image {
		width: 100%;
	}
	.news_info {
		margin-top: 16px;
	}
	.date_author {
		margin-top: 26px;
	}
	.news_text {
		margin-top: 25px;
		font-size: 14px;
	}
}
				
@media (min-width:641px) and (max-width:1199px) {
	.main_content {
		margin: 50px 35px 0 35px;
		display: flex;
	}	
	.news:nth-child(n+2) {
		margin-top: 42px;
	}
	.news_image {
		width: 100%;
	}
	.news_info {
		margin-top: 16px;
	}	
	.date_author {
		margin-top: 40px;
	}
	.news_text {
		margin-top: 40px;
		font-size: 15px;
	}
}

@media (min-width:1200px) {
	.main_content {
		width: 1200px;
		margin: 64px auto 64px;
		display: flex;
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
	}	
	.news {
		display: flex;
	}
	.news:nth-child(n+2) {
		margin-top: 60px;
	}	
	.news_image {
		width: 360px;
	}
	.news::after {
		display: none;
	}
	.news_info {
		margin-left: 31px;
	}	
	.date_author {
		margin-top: 40px;
	}
	.news_text {
		margin-top: 55px;
		font-size: 15px;
	}
}

.news_info_category {
	display: flex;
}

.news::after {
	content: "";
	display: block;
	height: 3px;
	background-color: #eeeeee;
	margin: 22px auto 0px;
}

.news_title {
	margin-top: 16px;
	font-family: opensans-bold;
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
}

.date {
	font-family: opensans-regular;
	color: #888888;
	font-size: 12px;
}

.author {
	margin-left: 15px;
	text-decoration: none;
	font-family: opensans-bold;
	color: #000000;
	font-size: 12px;
}

.news_text {
	font-family: opensans-regular;
	color: #0f0d0e;
}

.news_text p:nth-child(n+2) {
	margin-top: 15px;
}



			/*ASIDE*/



@media (max-width:640px) {
	.new_posts, .distribution, .sections, .themes {
		margin-top: 45px;		
	}
	.new_posts_title, .section_title, .themes_title {
		font-size: 16px;
	}
}

@media (min-width:641px) and (max-width:1199px) {
	.aside {
		margin-left: 35px;
		flex-shrink: 0;
		width: 271px;
	}
	.distribution, .sections, .themes {
		margin-top: 60px;
	}
	.new_posts_title, .section_title, .themes_title {
		font-size: 14px;
	}
}

@media (min-width:1200px) {
	.aside {
		margin-left: 125px;
		flex-shrink: 0;
		width: 271px;
	}
	.distribution, .sections, .themes {
		margin-top: 60px;
	}
	.new_posts_title, .section_title, .themes_title {
		font-size: 14px;
	}
}

.new_posts_title {
	font-family: opensans-bold;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 28px;
}

.new_posts_title::after {
	content: "";
	display: block;
	width: 65px;
	height: 3px;
	background-color: #e1d9bd;
	margin: 9px auto 0px;
}

.new_post {
	display: flex;
}

.new_post:nth-child(n+2) {
	margin-top: 22px;
}

.new_post_info {
	margin-left: 19px;
}

.new_post_image {
	display: block;
}

.new_post_title {
	margin-top: 9px;
	font-family: opensans-bold;
	font-size: 14px;
	text-transform: uppercase;
}

.new_post_link {
	text-decoration: none;
	list-style: none;
	color: #000000;
}

.search_box {
	margin-top: 60px;
	display: flex;
}

.search_label {
	width: calc(100% - 48px);
}

.search_input {
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	background-color: #f4f7f6;
	padding: 6px 20px;
	border: 0px;
}

.search_input:focus {
	outline: none;
}

.search_button {
	box-sizing: border-box;
	width: 48px;
	height: 48px;
	background-color: #b59f5b;
	border: 0px;
	padding: 0px;
	background-image: url(../svg/search.svg);
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.search_button:hover {
	background: #e1d9bd;
	background-image: url(../svg/search.svg);
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: center;
}

.visually_hidden {
	 position: absolute;
	 width: 1px;
	 height: 1px;
	 clip: rect(1px, 1px, 1px, 1px);
}

.distribution_title {
	font-family: opensans-bold;
	color: #0f0d0e;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 28px;
}

.distribution_title::after {
	content: "";
	display: block;
	width: 65px;
	height: 3px;
	background-color: #e1d9bd;
	margin: 9px auto 0;
}

.distribution_form {
	display: flex;
	flex-direction: column;
}

.distribution_label {
	display: flex;
}

.distribution_input {
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	background-color: #f4f7f6;
	padding: 6px 17px;
}

.distribution_input:focus {
	outline: none;
  }

.distribution_button {
	margin-top: 17px;
	height: 48px;
	background-color: #b59f5b;
	font-family: opensans-bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
}

.distribution_button:hover {
	background: #e1d9bd;
}

.section_title {
	font-family: opensans-bold;
	text-align: center;
	color: #0f0d0e;
	text-transform: uppercase;
	margin-bottom: 24px;
}
  
.section_title::after {
	content: "";
	display: block;
	width: 66px;
	height: 3px;
	background-color: #e1d9bd;
	margin: 14px auto 0;
}

.sections_containers {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.sections_container {
	box-sizing: border-box;
	border: 3px solid #eeeeee;
	margin-right: 5px;
	margin-bottom: 6px;
	list-style: none;
}

.sections_container:hover {
	background: #e1d9bd;
}

.sections_container_link {
  display: block;
  font-size: 12px;
  font-family: opensans-bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
  text-align: center;
  padding: 7px 12px;
}

.themes_title {
	font-family: opensans-bold;
	text-align: center;
	color: #0f0d0e;
	text-transform: uppercase;
	margin-bottom: 26px;
}

.themes_title::after {
	content: "";
	display: block;
	width: 65px;
	height: 3px;
	background-color: #e1d9bd;
	margin: 9px auto 0;
}

.themes_container {
	list-style: none;
}

.theme_link {
	text-decoration: none;
	color: #000000;
	font-family: opensans-bold;
	font-size: 14px;
}

.theme:nth-child(n+2) {
	margin-top: 17px;
}

.theme {
	padding-bottom: 19px;
	border-bottom: 1px solid #eeeeee;
}

.theme_amount {
	font-size: 12px;
	font-family: opensans-bold;
	color: #b59f5b;
	vertical-align: super;
}



				/*SHOP*/



@media (max-width:640px) {
	.shop {
		margin: 44px 15px 0 15px;
	}
	.shop_title {
		font-size: 16px;
	}
	.shop_title::after {
		margin: 15px auto 0;
	}
	.shop_product:nth-child(n+2) {
		margin-top: 54px;
	}
}
				
@media (min-width:641px) and
(max-width:1199px) {
	.shop {
		margin: 44px 35px 0 35px;
	}
	.shop_title {
		font-size: 18px;
	}
	.shop_title::after {
		margin: 17px auto 0;
	}
	.shop_products {
	display: flex;
	flex-wrap: wrap;
	}
	.shop_product {
		width: calc((100% - 24px)/2);
	}
	.shop_product:nth-child(even) {
		margin-left: 24px;
	}
}
				
@media (min-width:1200px) {
	.shop {
		width: 1200px;
		margin: auto;
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
	}
	.shop_title {
		font-size: 20px;
	}
	.shop_title::after {
		margin: 13px auto 0;
	}
	.shop_products {
		display: flex;
		flex-wrap: wrap;
	}
	.shop_product {
		width: calc((100% - 124px)/3);
	}
	.shop_product:nth-child(n+2) {
		margin-left: 62px;
	}
	.shop_product_title {
		font-size: 20px;
	}
}

.shop_product {
	display: flex;
	flex-direction: column;
}

.shop_title {
	font-family: opensans-bold;
	text-align: center;
	color: #0f0d0e;
	text-transform: uppercase;
	margin-bottom: 28px;
}

.shop_title::after {
	content: "";
	display: block;
	width: 65px;
	height: 3px;
	background-color: #e1d9bd;
}

.shop_media_img {
	display: block;
	width: calc(100% - 48px);
	margin-left: 24px;
	margin-right: 24px;
}

.shop_info {
	border: 3px solid #b59f5b;
	position: relative;
	padding: 53px 21px 26px 21px;
	top: -28px;
	flex-grow: 1;
}

.shop_product_title {
	font-family: opensans-bold;
	color: #0f0d0e;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.shop_product_info {
	font-family: opensans-regular;
	font-size: 15px;
	color: #0f0d0e;
}

.shop_product_info_link {
	font-family: opensans-regular;
	font-size: 15px;
	color: #b59f5b;
	text-decoration: none;
}

.buy_box {
	margin-top: 26px;
	display: flex;
	justify-content: space-between;
}

.price {
	display: flex;
	flex-direction: column;
}

.old_price {
	font-family: opensans-bold;
	font-size: 14px;
	color: #0f0d0e;
	text-transform: uppercase;
	text-decoration: line-through;
}

.new_price {
	font-family: opensans-bold;
	font-size: 20px;
	color: #0f0d0e;
	text-transform: uppercase;
}

.button {
	height: 48px;
	width: 140px;
	background-color: #b59f5b;
	color: #ffffff;
	font-size: 14px;
	font-family: opensans-bold;
	text-transform: uppercase;
}

.button:focus {
	outline: none;
}



		/*FOOTER*/

@media (max-width:640px) {
	.footer {
		margin: 44px 15px 0;
		padding-bottom: 50px;
	}
	.additional_info {
		margin-top: 50px;
	}
}
		
@media (min-width:641px) and (max-width:1199px) {
	.footer {
		margin: 50px 35px 0;
		padding-bottom: 40px;
	}
	.additional_info {
		margin-top: 50px;
	}
}

@media (min-width:1200px) {
	.footer {
		width: 1200px;
		margin: 64px auto 0;
		padding: 0 15px 44px;
		box-sizing: border-box;
	}
	.additional_info {
		margin-top: 72px;
	}
}

.social_container {
	background-color: #f4f7f6;
	padding: 30px 0px;
}

.social_icon_list {
	list-style: none;
	display: flex;
	justify-content: center;
}

.social_icon_list_item:nth-child(n+2) {
	margin-left: 28px;
}

.social_icon_link {
	display: block;
	height: 20px;
	width: 20px;
	background-size: 20px;
	background-position: center;
	background-repeat: no-repeat;
}

.twitter {
	background-image: url(../svg/004-twitter.svg);
}

.pinterest {
	background-image: url(../svg/001-pinterest.svg);
}

.facebook {
	background-image: url(../svg/002-facebook-logo.svg);
}

.instagram {
	background-image: url(../svg/005-instagram.svg);
}

.tumblr {
	background-image: url(../svg/003-tumblr.svg);
}

.social_icon_alt {
	position: absolute;
	height: 1px;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}

.additional_info {
	display: block;
	font-size: 12px;
	font-family: opensans-bold;
	text-align: center;
	text-decoration: none;
	color: #999999;
}

		/*POPUP*/

.popup_hidden {
	display: flex;	
	display: none;
	justify-content: center;
	align-content: center;
	margin-top: 56px;
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0px;
}

.popup_hidden::before {
	content: "";
	position: absolute;
	top: -56px;
	right: 0;
	left: 0;
	bottom: 0px;
	opacity: 0.6;
	background-color: black;
	z-index: 3;
}

@media (max-width:640px) {
	.popup_container {
		width:calc(92%-30px);
	}
}

@media (min-width:641px) and (max-width:1199px) {
	.popup_container {
		width: 50%;
	}
}

@media (min-width:1200px) {
	.popup_container {
		width: 24%;
	}
}

.popup_container {
	background-color: #ffffff;
	margin-left: 15px;
	margin-right: 15px;
	padding: 30px 25px;
	position: relative;
	position: fixed;
	z-index: 999;
	max-width: 390px;
}

.popup_title {
	font-size: 16px;
	font-family: opensans-bold;
	text-align: center;
	color: #0f0d0e;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.popup_title::after {
	content: "";
	display: block;
	width: 65px;
	height: 3px;
	background-color: #e1d9bd;
	margin: 9px auto 0;
}

.form_popup {
	margin-top: 27px;
}

.popup_question {
	font-family: opensans-regular;
	font-size: 13px;
	color: #000000;
}

.popup_visit_select {
	margin-top: 9px;
	height: 48px;
	width: 100%;
	background-color: #f4f7f6;
	padding-left: 20px;
	font-family: opensans-regular;
	font-size: 13px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url(../svg/form-arrows.svg);
	background-repeat: no-repeat;
	background-size: 9px 15px;
	background-position: right 15px center ;
}

.popup_visit_select:focus {
	outline: none;
}

.popup_mail {
	margin-top: 33px;
}

.popup_mail_radio {
	margin-top: 12px;
	display: flex;
}

.popup_radio:nth-child(n+2) {
	margin-left: 33px;
}

.popup_radio_input {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);	
}

.popup_radio_label {
	cursor: pointer;
	position: relative;
	display: inline-block;
	font-family: opensans-regular;
	color: #000000;
	font-size: 13px;
}

.popup_radio_label::before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	position: relative;
	left: 0;
	bottom: 1px;
	background-image: url(../svg/form-empty-circle.svg);
	background-size: 25px;
	background-position: center center;
	margin-right: 6px;
	vertical-align: middle;
}

.popup_radio_input:checked + 
.popup_radio_label:before {
	background-image: url(../svg/form-circle.svg);
	background-size: 25px;
	background-position: center center;
}

.popup_feedback {
	margin-top: 30px;
}

.textarea_feedback {
	margin-top: 9px;
	height: 130px;
	width: 100%;
	resize: none;
	background-color: #f4f7f6;
	font-family: opensans-regular;
	color: #000000;
	font-size: 13px;
	padding: 21px;
	box-sizing: border-box;
}

.textarea_feedback:focus {
	outline: none;
	background-color: #e1d9bd;
}

.popup_send {
	margin-top: 26px;
	height: 48px;
	width: 100%;
	background-color: #b59f5b;
	color: #ffffff;
	font-size: 14px;
	font-family: opensans-bold;
	text-transform: uppercase;
	cursor: pointer;
}

.popup_send:focus {
	outline: none;
	background-color: #e1d9bd;
}

.popup_close_hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);	
}

.popup_close {
    width: 28px;
    height: 28px;
    position: absolute;
    background-image: url(../svg/form-x.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    top: -33px;
    right: 0;
    z-index: 999;
}
